body {

}

header {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
}

#first-name {
    height: 32px;
    width: auto;
}

#second-name {
    height: 32px;
    width: auto;
}

#first-name p{
    margin-bottom: 0px;
    margin-top: 8px;
    color: grey;
}
#second-name p {
    margin-bottom: 0px;
    margin-top: 8px;
    color: silver;
}

#logo {
    height: 32px;
    width: auto;
    padding-left: 24px;
}

.flex-container {
    display: flex;
    height: 32px;
    width: auto;
}

#name {
    display: flex;
    width: 567px;
}

#navigation {
    display: flex;
    width: 567px;
    justify-content: right;
    padding-right: 24px;
}

.button p {
    margin: 8px 8px 8px 8px;
}