body {

}

/* all header CSS */
header {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
}

#first-name {
    height: 32px;
    width: auto;
}

#second-name {
    height: 32px;
    width: auto;
}

#first-name p {
    margin-bottom: 0px;
    margin-top: 8px;
    color: grey;
}
#second-name p {
    margin-bottom: 0px;
    margin-top: 8px;
    color: silver;
}

#logo {
    height: 32px;
    width: auto;
}

.flex-container {
    display: flex;
    height: 32px;
    width: auto;
    align-items: center;
}

#name {
    display: flex;
    width: 100%;
    padding-left: 24px;
}

#navigation {
    display: flex;
    width: 100%;
    justify-content: right;
    padding-right: 24px;
}

.button a {
    margin: 8px 8px 8px 8px;
}

a {
    color: darkslategrey;
    text-decoration: none;
    font-size: 18px;
}

/* home */
#home {
    background-color: silver;
    width: 100%;
}

.home-flex {
    display: flex;
}

.banner {
    width: 60%;
    padding: 32px 24px;
}

.banner img {
    width: -moz-available;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start > h1:nth-child(1) {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: darkslategrey;
   }

   .start > h3:nth-child(2) {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: darkslategrey;
   }

   .start > button:nth-child(3) {
    margin-left: 100px;
    margin-right: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: darkslategrey;
    color: silver;
   }
   