h1 {
  color: darkslategrey;
  margin: 0%;
}

h2 {
  color: darkslategrey;
  margin: 0%;
}

h3 {
  color: darkslategrey;
  margin: 0%;
}

p {
  color: darkslategrey;
  margin: 0%;
}

/* all header CSS */
header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
}

#first-name {
  height: 32px;
  width: auto;
}

#second-name {
  height: 32px;
  width: auto;
}

#first-name p {
  margin-bottom: 0px;
  margin-top: 8px;
  color: grey;
}

#second-name p {
  margin-bottom: 0px;
  margin-top: 8px;
  color: silver;
}

#logo {
  height: 32px;
  width: auto;
}

.flex-container {
  display: flex;
  height: 32px;
  width: auto;
  align-items: center;
}

#name {
  display: flex;
  width: 100%;
  padding-left: 24px;
}

#navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 24px;
}

.button a {
  margin: 8px 8px 8px 8px;
}

a {
  color: darkslategrey;
  text-decoration: none;
  font-size: 18px;
}

/* home */
#home {
  background-color: silver;
  width: 100%;
}

.home-flex {
  display: flex;
}

.banner {
  width: 60%;
  padding: 32px 24px;
}

.banner img {
  width: -moz-available;
  width: 100%;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start>h1:nth-child(1) {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: darkslategrey;
}

.start>h3:nth-child(2) {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
  margin-top: 25px;
  color: darkslategrey;
}

.start>button:nth-child(3) {
  margin-left: 100px;
  margin-right: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: darkslategrey;
  color: silver;
}

/* campus */

#campus {
  display: flex;
}

.practice {
  width: 60%;
  padding: 32px 24px;
}

.picture>img:nth-child(1) {
  width: -moz-available;
  width: 100%;
  height: auto;
}

.picture {
  background-color: white;
}

.events {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.orientation {
  display: flex;
  border: thin solid silver;
}

.locations {
  display: flex;
  border: thin solid silver;
}

.lecture {
  display: flex;
  border: thin solid silver;
  background-color: silver;
}

.orientation>div:nth-child(1) {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.orientation>div:nth-child(1)>img:nth-child(1) {
  width: -moz-available;
  width: 100%;
}

.orientation>div:nth-child(2) {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locations>div:nth-child(1) {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.locations>div:nth-child(1)>img:nth-child(1) {
  width: -moz-available;
  width: 100%;
}

.locations>div:nth-child(2) {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lecture>div:nth-child(1) {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.lecture>div:nth-child(1)>img:nth-child(1) {
  width: -moz-available;
  width: 100%;
}

.lecture>div:nth-child(2) {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture>h1:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 24px;
}

.orientation>div:nth-child(2)>p:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.orientation>div:nth-child(2)>h3:nth-child(1) {
  margin-bottom: 0px;
  margin-top: 0px;
}

.locations>div:nth-child(2)>h3:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.locations>div:nth-child(2)>p:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.lecture>div:nth-child(2)>h3:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.lecture>div:nth-child(2)>p:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Online */

#online>h1:nth-child(1) {
  display: flex;
  justify-content: center;
  color: darkslategrey;
  margin-top: 0px;
  margin-bottom: 32px;
}

#online {
  padding: 32px 72px;
  background-color: silver;
}

.courses {
  display: flex;
  flex-wrap: wrap;
}

.software-engineering {
  width: 31.5%;
  height: auto;
  padding-right: 16px;
  padding-bottom: 16px;
}

.computer-art {
  width: 31.5%;
  height: auto;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.design {
  width: 31.5%;
  height: auto;
  padding-left: 16px;
  padding-bottom: 16px;
}

.data {
  width: 31.5%;
  height: auto;
  padding-right: 16px;
  padding-top: 16px;
}

.business {
  width: 31.5%;
  height: auto;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 16px;
}

.marketing {
  width: 31.5%;
  height: auto;
  padding-left: 16px;
  padding-top: 16px;
}

.course-description {
  background-color: white;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
}

.course-description-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* for-companies */

.thesis {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.video-box {
  width: 60%;
}

.video {
  width: 100%;
}

.thesis-exhibit {
  display: flex;
}

.picture-box {
  display: flex;
}

.picture-for-companies {
  width: 35%;
  height: auto;
  padding: 16px;
}

#for-companies {
  padding-left: 24px;
  padding-bottom: 32px;
  border-bottom: thin solid silver;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.urban {
  padding-top: 24px;
  padding-bottom: 8px;
}

/* footer */

footer {
  padding: 16px 24px;
  display: flex;
}

.copyright {
  width: 50%;
  display: flex;
  align-items: center;
}

.terms {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.tp {
  padding: 5px;
}